* {
  --font-size__small-xxx: 0.6em;
  --font-size__small-xx: 0.7em;
  --font-size__small-x: 0.8em;
  --font-size__small: 0.9em;

  --font-size__medium: 1em;

  --font-size__large: 1.1em;
  --font-size__large-x: 1.3em;
  --font-size__large-xx: 1.5em;
  --font-size__large-xxx: 1.8em;
}