$--path__assets: '~@/assets/icons/';

html, body, #app {
  background-color: var(--color-background__global);
  min-height: 100vh;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 95%;
  transition: background-color 1s linear;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}