@import "src/scss/design/animations";

$--path__assets: '~@/assets/icons/';

*,
*::before,
*::after {
  @extend .change-theme-animation__allowed;
  box-sizing: border-box;
}

* {
  outline-color: var(--color-outline__global);
}

a {
  color: var(--color-font__link);
}

html, body, #app {
  font-family: var(--font-famaly__comfortaa);
  background-color: var(--color-background__global);
  color: var(--color-font);
  margin: var(--margin__ziro);
  font-size: 95%;
  min-height: 100vh;
}