* {
  --margin__ziro: 0;
  --margin__small-xxx: 2px;
  --margin__small-xx: 3px;
  --margin__small-x: 4px;
  --margin__small: 5px;

  --margin__medium: 6px;

  --margin__large: 8px;
  --margin__large-x: 10px;
  --margin__large-xx: 12px;
  --margin__large-xxx: 15px;
}