* {
  --padding__ziro: 0;
  --padding__small-xxx: 2px;
  --padding__small-xx: 3px;
  --padding__small-x: 4px;
  --padding__small: 5px;

  --padding__medium: 6px;

  --padding__large: 8px;
  --padding__large-x: 10px;
  --padding__large-xx: 12px;
  --padding__large-xxx: 15px;
}