* {
  --transition-duration__ziro: 0s;
  --transition-duration__fast-xxx: .08s;
  --transition-duration__fast-xx: .1s;
  --transition-duration__fast-x: .15s;
  --transition-duration__fast: .2s;

  --transition-duration__medium: .3s;

  --transition-duration__slow-xxx: .4s;
  --transition-duration__slow-xx: .5s;
  --transition-duration__slow-x: .8s;
  --transition-duration__slow: 1s;
}