* {
  --border-radius__small-xxx: 2px;
  --border-radius__small-xx: 3px;
  --border-radius__small-x: 4px;
  --border-radius__small: 5px;

  --border-radius__medium: 6px;

  --border-radius__large: 8px;
  --border-radius__large-x: 10px;
  --border-radius__large-xx: 12px;
  --border-radius__large-xxx: 15px;

  --border-radius__10: 10%;
  --border-radius__20: 20%;
  --border-radius__30: 30%;
  --border-radius__40: 40%;
  --border-radius__50: 50%;
}