* {
  --color-accent__gray--000: rgb(255, 255, 255);
  --color-accent__gray--100: rgb(250, 250, 250);
  --color-accent__gray--200: rgb(245, 245, 245);
  --color-accent__gray--300: rgb(240, 240, 240);
  --color-accent__gray--400: rgb(235, 235, 235);
  --color-accent__gray--500: rgb(230, 230, 230);
  --color-accent__gray--600: rgba(210, 210, 210);
  --color-accent__gray--700: rgb(190, 190, 190);
  --color-accent__gray--800: rgb(170, 170, 170);
  --color-accent__gray--900: rgb(140, 140, 140);
  --color-accent__gray--1000: rgb(105, 105, 105);
  --color-accent__gray--1100: rgb(70, 70, 70);
  --color-accent__gray--1200: rgb(55, 55, 55);
  --color-accent__gray--1300: rgb(37, 37, 37);
  --color-accent__gray--1400: rgb(25, 25, 25);
  --color-accent__gray--1500: rgb(15, 15, 15);
  --color-accent__gray--1600: rgb(0, 0, 0);

  --color-accent__blue--400: #5db4d9;
  --color-accent__blue--500: #5aa1c2;

  --color-accent__green--400: #05be42;
  --color-accent__green--500: #35a69b;

  --color-accent__orange--400: #f4a261;
  --color-accent__orange--500: #dd8100;

  --color-accent__red--400: #e76f51;
  --color-accent__red--500: #b84c4b;
  --color-accent__red--600: red;
}