@import "colors";
@import "border-radius";
@import "box-shadow";
@import "paddings";
@import "margins";
@import "fonts-famalies";
@import "font-sizes";
@import "transition-durations";
@import "global-path";

@import "mixins";
@import "mixins-properties";

@import "../design/animations/bounce";
@import "../design/animations/fade";
@import "../design/animations/slideBlurred";
@import "../design/animations/list";

*, *::before, *::after {
  box-sizing: border-box;
  outline-color: var(--color-outline__global);
  transition: background-color 0.2s linear;
}

html, body, #app {
  font-family: var(--font-famaly__comfortaa);
  background-color: var(--color-background__global);
  color: var(--color-font__content);
  margin: var(--margin__ziro);
  font-size: 95%;
  min-height: 100vh;
}

a {
  color: var(--color-font__link);
}