[data-theme='light'], [data-theme='auto'] {
  --color-background__global: var(--color-accent__gray--100);
  --color-shadow: var(--color-accent__gray--800);
  --color-outline__global: var(--color-accent__gray--1400);
  --color-spinner__background: var(--color-accent__gray--600);
}