[data-theme='light'], [data-theme='auto'] {
  --color-font__black: var(--color-accent__gray--1600);
  --color-font__white: var(--color-accent__gray--000);
  --color-font__red: var(--color-accent__red--600);
  --color-font__blue: var(--color-accent__blue--400);

  --color-font__content: var(--color-font__black);
  --color-font__content-secondary: var(--color-accent__gray--1200);

  --color-font__required: var(--color-font__red);
  --color-font__link: var(--color-font__blue);
}