[data-theme='light'], [data-theme='auto'] {
  --color-input__background: var(--color-accent__gray--100);

  --color-input__border: var(--color-accent__gray--600);
  --color-input__border-autofill: var(--color-accent__gray--900);
  --color-input__border-invalid: var(--color-accent__red--600);

  --color-input-radio__checked: var(--color-accent__blue--400);
  --color-input-radio__background: var(--color-accent__gray--500);
}