@mixin appearance($property) {
  -webkit-appearance: $property;
  -moz-appearance: $property;
  appearance: $property;
}

@mixin background-img__contain-no-repeat() {
  background: {
    size: contain;
    repeat: no-repeat;
  }
}

@mixin use-svg($name) {
  background: {
    image: url($--path__assets + '/fi-rr-' + $name + '.svg');
  };
}