[data-theme='dark'] {
  --color-button-font__filled: var(--color-font__content);
  --color-button__default-accent: var(--color-accent__gray--800);
  --color-button__common-accent: var(--color-accent__blue--500);
  --color-button__success-accent: var(--color-accent__green--500);
  --color-button__warning-accent: var(--color-accent__orange--500);
  --color-button__danger-accent: var(--color-accent__red--500);

  --color-button__sign-in: var(--color-button__success-accent);
  --color-button__sign-up: var(--color-button__success-accent);
  --color-button__next: var(--color-button__common-accent);
  --color-button__cancel: var(--color-button__danger-accent);

  --color-button__font: var(--color-font__white);
}