[data-theme='dark'] {
  --color-background__global: var(--color-accent__gray--1400);
  --color-shadow: var(--color-accent__gray--1600);
  --color-outline__global: var(--color-accent__gray--900);
  --color-spinner__background: var(--color-accent__gray--1600);
}