[data-theme='dark'] {
  --color-input__background: var(--color-accent__gray--1200);

  --color-input__border: var(--color-input__background);
  --color-input__border-autofill: var(--color-accent__gray--900);
  --color-input__border-invalid: var(--color-accent__red--400);

  --color-input-radio__checked: var(--color-accent__blue--500);
  --color-input-radio__background: var(--color-input__background);
}