.button-color__default {
  --accent-color: var(--color-button__default-accent);
}

.button-color__common {
  --accent-color: var(--color-button__common-accent);
}

.button-color__success {
  --accent-color: var(--color-button__success-accent);
}

.button-color__warning {
  --accent-color: var(--color-button__warning-accent);
}

.button-color__danger {
  --accent-color: var(--color-button__danger-accent);
}

.button-color__sign-in {
  @extend .button-color__success;
}

.button-color__sign-up {
  @extend .button-color__success;
}

.button-color__sign-in-password {
  @extend .button-color__warning;
}

.button-color__sign-in_email-code {
  @extend .button-color__danger;
}