@import "./colors.scss";
@import "./filters.scss";

[data-theme='dark'] {
    /* Backgrounds */
    --color-background__global: var(--color-accent__gray--1400);
    --color-background__error: var(--color-accent__red--500);

    /* Fonts */
    --color-font__accent: var(--color-accent__gray--000);
    --color-font__revert: var(--color-accent__gray--000);
    --color-font: var(--color-accent__gray--400);
    --color-font__secondary: var(--color-accent__gray--600);
    --color-font-disabled: var(--color-accent__gray--800);
    --color-font-required: var(--color-background__error);
    --color-font__link: var(--color-accent__blue--500);

    /* Shadows  */
    --color-shadow: var(--color-accent__gray--1600);

    /* Outline */
    --color-outline__global: var(--color-accent__gray--600);

    /* Buttons */
    --color-button-font__filled: var(--color-font);
    --color-button__default-accent: var(--color-accent__gray--800);
    --color-button__common-accent: var(--color-accent__blue--500);
    --color-button__success-accent: var(--color-accent__green--500);
    --color-button__warning-accent: var(--color-accent__orange--500);
    --color-button__danger-accent: var(--color-accent__red--500);

    /* Inputs */
    --color-input__background: var(--color-accent__gray--1200);
    --color-input__border: var(--color-input__background);
    --color-input-radio__checked: var(--color-accent__blue--500);

    /* Cards */
    --color-background__card: var(--color-accent__gray--1300);
    --color-background__card-error: var(--color-background__error);

    /* Filters */
    --brightness__disabled: var(--brightness__600);
    --brightness__hover: var(--brightness__900);
    --brightness__active: var(--brightness__800);
}