[data-theme='light'], [data-theme='auto'] {
    --color-background__global: #EDEEF0;
    --color-background__input: #FFFFFF;
    --color-background__input-disabled: #EFF4F6;
    --color-background__card: #FFFFFF;

    --color-border__block: black;
    --color-border__theme-swither: var(--color-border__block);
}