@import "src/styles/global/mixins";

$notification__close-size: 12px;
$notification__close-region: 20px;

.notification {
  position: relative;
  margin: auto;
  padding: 5px 10px;
  z-index: 100;
  user-select: none;
  background-color: transparent;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
  border: 1px solid var(--notification__background-color);
  border-radius: var(--border-radius__medium);
  color: var(--color-notification__font);
}

.notification::before {
  @include set-absolute-position(-50%, -50%, auto, auto);
  @include set-size(200%, 200%);
  content: '';
  position: absolute;
  opacity: 0.08;
  background-color: var(--notification__background-color);
  border-radius: var(--border-radius__medium);
}

.notification__content {
  position: relative;
}

.notification__close {
  @include set-size($notification__close-region, $notification__close-region);
  @include set-absolute-position(0, auto, 0, auto);
  position: absolute;
  opacity: 0.5;
  transition: opacity var(--transition-duration__fast) linear;
}

.notification__close-svg {
  @include set-size($notification__close-size, $notification__close-size);
  @include set-absolute-position(0, auto, 0, auto);
  @include use-svg('cross');
  @include background-img__contain-no-repeat();
  position: absolute;
  filter: invert(1);
}

.notification__title {
  text-align: center;
  padding-bottom: 4px;
  font-size: var(--font-size__large-x);
  font-family: var(--font-famaly__viga);
}

.notification__description {
  text-align: center;
}

.notification__close:hover {
  opacity: 1;
}