@import "src/styles/global/mixins";

$notification__close-size: 12px;
$notification__close-region: 20px;

.notification {
  margin: auto;
  width: var(--notification__width, 22%);
  min-width: 300px;
  padding: var(--notification__padding, 5px 10px);
  border: var(--notification__border, 0);
  border-radius: var(--notification__border-radius, var(--border-radius__medium));
  user-select: none;
  background-color: var(--notification__background-color);
  color: var(--color-notification__font);
  z-index: 100;
}

.notification__content {
  position: relative;
}

.notification__close {
  @include set-size($notification__close-region, $notification__close-region);
  @include set-absolute-position(0, auto, 0, auto);
  position: absolute;
  opacity: 0.5;
  transition: opacity var(--transition-duration__fast) linear;
}

.notification__close-svg {
  @include set-size($notification__close-size, $notification__close-size);
  @include set-absolute-position(0, auto, 0, auto);
  @include use-svg('cross');
  @include background-img__contain-no-repeat();
  position: absolute;
  filter: invert(1);
}

.notification__title {
  text-align: center;
  font-size: var(--notification-title__font-size, var(--font-size__large-x));
  font-family: var(--notification-title__font-famaly, var(--font-famaly__viga));
  padding-bottom: 4px;
}

.notification__description {
  text-align: center;
}

.notification__close:hover {
  opacity: 1;
}