@import "src/scss/design/buttons";
@import "src/scss/mixins/mixins";

.select-button__container {
  position: relative;
}

.select-button__label-container {
  @extend .button;
}

.select-button__label {
  @extend .button-outlined__label;
  position: relative;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

.select-button__checkmark {
  @include to-full-parent-size();
  @include appearance(none);
  @extend .button;
  @extend .button-outlined;
  position: absolute;
  z-index: 1;
}

.select-button__label-container:active,
.select-button__checkmark:active {
  filter: none;
}

.select-button__checkmark:checked {
  @extend .button-outlined__hover;
}

.select-button__checkmark:checked + .select-button__label-container .select-button__label,
.select-button__container:hover .select-button__label-container .select-button__label {
  @extend .button-outlined__label-hover;
}

